body {
  margin: 0;
}

* {
  font-family: "Shadows Into Light Two", cursive;
}
/*contenedor*/
.contenedor {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "form form mapa mapa"
    "box box box box"
    "footer footer footer footer";
}
/*header*/
.contenedor .header {
  grid-area: header;
  background-color: #ffade9;
}
.contenedor .header h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 100px;
  margin: 30px;
}
/*barra de navegacion*/
.contenedor .nav {
  grid-area: nav;
  background-color: #ff9ce7;
  margin: 20px;
  border-radius: 5px;
}
.nav nav {
  display: flex;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.nav nav a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.nav nav a:hover {
  color: #68376b;
}
.nav nav a i {
  padding-right: 10px;
}
/*contenedor formulario*/
.contenedor #form {
  display: grid;
  grid-area: form;
  justify-self: center;
  background-color: #ffccff;
  width: 80%;
  height: 90%;
  justify-items: start;
  padding: 20px;
  border-radius: 10px;
}
#form h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: auto;
}
label {
  font-size: 25px;
  font-weight: 700;
  width: 30%;
  display: inline-block;
  text-align: right;
}
input {
  font: 1em sans-serif;
  width: 65%;
  height: 30px;
  border: 1px solid #999;
  margin-top: 10px;
}
textarea {
  width: 65%;
  margin-top: 12px;
  vertical-align: top;
  height: 5em;
  font-size: 20px;
}
input:focus,
textarea:focus {
  border-color: #000;
}
button {
  align-self: center;
  font-size: 30px;
  width: 38%;
  margin: 20px auto;
  display: block;
  background-color: white;
  color: #ff9ce7;
}
/*contenedor del mapa*/
.contenedor .mapa {
  grid-area: mapa;
  justify-self: center;
  background-color: #ffccff;
  border-radius: 10px;
  height: 90%;
  width: 80%;
  padding: 20px;
}
.mapa iframe {
  height: 80%;
  width: 100%;
}
.mapa h2 {
  font-size: 30px;
  text-align: center;
  margin-top: auto;
}
/*boton con link a instagram*/
.contenedor .box {
  display: grid;
  grid-area: box;
  justify-self: center;
  justify-items: normal;
  text-align: center;
  background-color: #ffccff;
  color: black;
  margin: 20px;
  padding: 20px;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  transition: 0.3s;
}
.box:hover {
  transform: scale(1.09, 1.09);
}
.box a {
  text-decoration: none;
}
.box a:hover {
  color: #fa58f4;
}
.box h2 {
  font-size: 180%;
  align-self: center;
}
/*footer*/
.contenedor .footer {
  grid-area: footer;
  background-color: #ffade9;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  padding: 10px;
}
.footer a {
  text-decoration: none;
  color: deeppink;
  font-size: 70%;
}
.footer a:hover {
  color: white;
}
.footer p {
  font-size: 60%;
  margin-top: 0;
}

/*responsive*/
@media screen and (max-width: 768px) {
  /*contenedor*/
  .contenedor {
    overflow: hidden;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "form form form form"
      "mapa mapa mapa mapa"
      "box box box box"
      "footer footer footer footer";
  }
  /*header*/
  .contenedor .header {
    grid-area: header;
    background-color: #ffade9;
    padding: 0;
  }
  .contenedor .header h1 {
    font-display: fallback;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  /*barra de navegacion*/
  .nav nav a {
    font-size: 110%;
  }
  /*formulario*/
  .contenedor #form {
    margin-bottom: 40px;
    padding: 10px;
    width: 90%;
  }
  #form h2 {
    font-size: 30px;
  }
  form {
    height: 30%;
  }
  label {
    font-size: 20px;
  }
  button {
    width: 35%;
  }
  /*contenedor mapa*/
  .contenedor .mapa {
    width: 85%;
    margin-bottom: 20px;
  }
  .contenedor .mapa p {
    font-size: 30px;
  }
  .mapa iframe {
    height: 60%;
    width: 100%;
  }
  .mapa h2 {
    text-align: center;
    font-size: 30px;
  }
  /*boton con link a instagram*/
  .contenedor .box {
    margin: 20px;
    width: 85%;
    margin-top: 30px;
  }
  .box h2 {
    font-size: 180%;
  }
  /*footer*/
  .contenedor .footer {
    font-size: 20px;
    padding: 10px;
  }
}
