body {
  margin: 0;
}

* {
  font-family: "Shadows Into Light Two", cursive;
}
/*contenedor*/
.contenedor {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "recetasdiv recetasdiv recetasdiv recetasdiv"
    "relleno relleno relleno relleno"
    "footer footer footer footer";
}
/*header*/
.contenedor .header {
  grid-area: header;
  background-color: #cdedff;
}
.contenedor .header h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 100px;
  margin: 30px;
}
/*barra de navegacion*/
.contenedor .nav {
  grid-area: nav;
  background-color: #98e8ff;
  margin: 20px;
  border-radius: 5px;
}
.nav nav {
  display: flex;
  height: 50px;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.nav nav a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-weight: 700;
}
.nav nav a:hover {
  color: #68376b;
}
.nav nav a i {
  padding-right: 10px;
}
/*div que contiene imagenes de recetas con sus links*/
.contenedor .recetasdiv {
  display: flex;
  grid-area: recetasdiv;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
img {
  width: 350px;
  height: 350px;
}
a {
  text-decoration: none;
  color: #09bcee;
}
a:hover {
  color: royalblue;
}
/*footer*/
.contenedor .footer {
  grid-area: footer;
  background-color: #cdedff;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  padding: 10px;
}
.footer a {
  text-decoration: none;
  color: royalblue;
  font-size: 70%;
}
.footer a:hover {
  color: white;
}
.footer p {
  font-size: 60%;
  margin-top: 0;
}
/*responsive*/
@media screen and (max-width: 768px) {
  /*contenedor*/
  .contenedor {
    overflow: hidden;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "recetasdiv recetasdiv recetasdiv recetasdiv"
      "footer footer footer footer";
  }
  /*header*/
  .contenedor .header {
    grid-area: header;
    background-color: #cdedff;
    padding: 0;
  }
  .contenedor .header h1 {
    font-display: fallback;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 200%;
  }
  /*barra de navegacion*/
  .nav nav a {
    font-size: 110%;
  }
  /*div de recetas con fotos y links*/
  .contenedor .recetasdiv {
    display: flex;
    flex-wrap: wrap;
    grid-area: recetasdiv;
    align-items: center;
    text-align: center;
  }
  img {
    width: 100px;
    height: 100px;
  }
  /*footer*/
  .contenedor .footer {
    font-size: 20px;
    padding: 10px;
  }
}
